* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
  }

.container {
    width: 501px;
    margin:auto;
}

.acitvate {
    display: flex;
    flex-direction: row;
}

header {
    text-align: center;
    padding: 2em;
}

h1 {
    font-size: 2em;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
}

.square {
    height: 16px;
    width: 16px;
}

footer {
    padding: 4em;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}
.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}